---
import Recirculation from "@/components/Recirculation.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import {
  localizedQuery,
  resourceQuery,
  slugsFor,
  type ResourceQueryType,
} from "@/queries/contentQueries";
import { astroI18n, createGetStaticPaths } from "astro-i18n";
import Text from "@/components/OldText.astro";
import ReadableLayout from "@/layouts/ReadableLayout.astro";

export const getStaticPaths = createGetStaticPaths(slugsFor("resource"));

const { slug } = Astro.params as { slug: string };
const resource = await localizedQuery<ResourceQueryType>(Astro)(resourceQuery, {
  slug,
});
if (!resource) {
  astroI18n.redirect("/404");
}
---

{
  resource && (
    <RootLayout>
      <ReadableLayout>
        <h1 lang={resource.titleLang}>{resource.title}</h1>
        <div class="passthrough" lang={resource.contentLang}>
          <Text content={resource.content} />
        </div>
      </ReadableLayout>
      {resource.recirc && <Recirculation recirc={resource.recirc} />}
    </RootLayout>
  )
}
