---
import { Image } from "astro:assets";
import visualArts from "@/images/visualart.png";
import {
  localizedQuery,
  siteFooterQuery,
  type SiteFooterQueryType,
} from "@/queries/contentQueries";
import { Icon } from "astro-icon/components";
import TextMin from "@/components/Text/TextMin.astro";

const siteFooter =
  await localizedQuery<SiteFooterQueryType>(Astro)(siteFooterQuery);
---

<footer class="Footer" id="footer" aria-label="Site Footer">
  <section
    class="Footer_desc limited_p"
    aria-label="Project Description"
    lang={siteFooter.descriptionLang}
    ><TextMin value={siteFooter.description} /></section
  >
  <section
    class="Footer_credits limited_p"
    aria-label="Project Credits"
    lang={siteFooter.creditsLang}
    ><TextMin value={siteFooter.credits} /></section
  >
  <section
    class="Footer_copyr"
    aria-label="Copyright Information"
    lang={siteFooter.copyrightLang}
    ><TextMin value={siteFooter.copyright} /></section
  >
  <section class="Footer_logos" aria-label="Organization Links">
    <a
      href="https://www.arko.or.kr/eng/index"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Go to the Arts Council of Korea website"
    >
      <span class="visually-hidden">Arts Council of Korea</span>
      <Icon name="artscouncil" role="img" title="Arts Council Korea" />
    </a>
    <Image src={visualArts} alt="Some alt..." />
  </section>
  <section
    class="Footer_support"
    aria-label="Support & Funding"
    lang={siteFooter.supportLang}
    ><TextMin value={siteFooter.support} /></section
  >
</footer>

<style>
  [data-icon="artscouncil"] {
    width: 177px;
    height: auto;
  }

  img {
    width: 130px;
  }
</style>

<style lang="scss" is:global>
  .Footer {
    background-color: var(--clr-bg2);
    color: var(--clr-fg2);
    border-top: 1px solid var(--clr-brdr2);
    margin-top: -1px;
    position: relative;
    z-index: 10;
    padding: var(--page-padding);
    text-wrap: balance;
    min-height: 22.5rem;

    display: grid;
    row-gap: calc(3 * var(--page-padding));
    column-gap: calc(2 * var(--page-padding));
    grid-template:
      "desc" auto
      "credits" auto
      "copyr" auto
      "logos" auto
      "support" auto / 1fr;

    @media screen and (min-width: 768px) {
      padding: var(--page-padding) calc(2 * var(--page-padding));
      grid-template:
        "desc credits logos" 1fr
        "copyr copyr support" auto / 1fr 1fr 1fr;
    }

    & > section {
      font-size: 0.8125rem;
      line-height: 1.25;

      &:lang(kr) {
        line-height: 1.45;
      }
    }

    &_desc {
      grid-area: desc;
    }
    &_credits {
      grid-area: credits;
    }
    &_copyr {
      grid-area: copyr;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &_logos {
      grid-area: logos;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      height: fit-content;

      @media screen and (min-width: 768px) {
        max-width: 330px;
        gap: 1rem;
      }
    }

    &_support {
      grid-area: support;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .limited_p {
    @media screen and (min-width: 768px) {
      & p {
        max-width: 330px;
      }
    }
  }
</style>
