---
import Recirculation from "@/components/Recirculation.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import {
  localizedQuery,
  artistIntroQuery,
  slugsFor,
  type ArtistIntroQueryType,
} from "@/queries/contentQueries";
import { astroI18n, createGetStaticPaths } from "astro-i18n";
import Text from "@/components/Text.astro";
import ReadableLayout from "@/layouts/ReadableLayout.astro";

export const getStaticPaths = createGetStaticPaths(slugsFor("artist"));

const { slug } = Astro.params as { slug: string };
const artist = await localizedQuery<ArtistIntroQueryType>(Astro)(
  artistIntroQuery,
  { slug },
);
if (!artist) {
  astroI18n.redirect("/404");
}
---

{
  artist && (
    <RootLayout>
      <ReadableLayout>
        <h1 lang={artist.titleLang}>{artist.title}</h1>
        <div class="passthrough" lang={artist.introductionContentLang}>
          <Text content={artist.introductionContent} />
        </div>
      </ReadableLayout>
      {artist.introductionRecirc && (
        <Recirculation recirc={artist?.introductionRecirc} />
      )}
    </RootLayout>
  )
}

<style lang="scss">
  h1 {
    text-align: center;
    min-height: 1.66em;
  }
</style>
