---
import { SEO } from "astro-seo";
import RootLayout from "@/layouts/RootLayout.astro";
import {
  localizedQuery,
  artistIntroQuery,
  slugsFor,
  type ArtistIntroQueryType,
} from "@/queries/contentQueries";
import { astroI18n, createGetStaticPaths } from "astro-i18n";
import PageContents from "@/components/PageContents.astro";
import ReadableLayout from "@/layouts/ReadableLayout.astro";

export const getStaticPaths = createGetStaticPaths(slugsFor("artist"));

const { slug } = Astro.params as { slug: string };
const artist = await localizedQuery<ArtistIntroQueryType>(Astro)(
  artistIntroQuery,
  { slug },
);
if (!artist) {
  astroI18n.redirect("/404");
}
---

{
  artist && (
    <RootLayout pageTitle={artist.title} pageSeo={artist.introduction?.seo}>
      <ReadableLayout>
        <hgroup class="passthrough">
          <h1 class="person-title" lang={artist.titleLang}>
            {artist.title}
          </h1>
        </hgroup>
        <PageContents value={artist.introduction} />
      </ReadableLayout>
    </RootLayout>
  )
}
