---
import { SEO } from "astro-seo";
import RootLayout from "@/layouts/RootLayout.astro";
import {
  localizedQuery,
  artistInterviewQuery,
  slugsFor,
  type ArtistInterQueryType,
} from "@/queries/contentQueries";
import { astroI18n, createGetStaticPaths } from "astro-i18n";
import PageContents from "@/components/PageContents.astro";
import ReadableLayout from "@/layouts/ReadableLayout.astro";

export const getStaticPaths = createGetStaticPaths(slugsFor("artist"));

const { slug } = Astro.params as { slug: string };
const artist = await localizedQuery<ArtistInterQueryType>(Astro)(
  artistInterviewQuery,
  { slug },
);
if (!artist) {
  astroI18n.redirect("/404");
}
---

{
  artist && (
    <RootLayout>
      <SEO
        slot="head"
        title={`${artist.title}: ${artist.interviewTitle}`}
        titleTemplate="%s | Future Of Conservation"
        description=""
      />
      <ReadableLayout>
        <hgroup class="passthrough">
          <h1 lang={artist.interviewTitleLang}>
            {artist.interviewTitle || "Interview"}
          </h1>
          <p lang={artist.titleLang}>
            <span class="display-type h2">
              <strong class="sr-style">{artist.title}</strong>
            </span>
            <br />
            <span>{artist.interviewArtistDesc}</span>
          </p>
        </hgroup>
        <PageContents value={artist.interview} />
      </ReadableLayout>
    </RootLayout>
  )
}
