---
import Recirculation from "@/components/Recirculation.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import {
  localizedQuery,
  artistInterviewQuery,
  slugsFor,
  type ArtistInterQueryType,
} from "@/queries/contentQueries";
import { astroI18n, createGetStaticPaths } from "astro-i18n";
import Text from "@/components/Text.astro";
import ReadableLayout from "@/layouts/ReadableLayout.astro";

export const getStaticPaths = createGetStaticPaths(slugsFor("artist"));

const { slug } = Astro.params as { slug: string };
const artist = await localizedQuery<ArtistInterQueryType>(Astro)(
  artistInterviewQuery,
  { slug },
);
if (!artist) {
  astroI18n.redirect("/404");
}
---

{
  artist && (
    <RootLayout>
      <Fragment slot="head">
        <title>Interview: Soyo Lee</title>
      </Fragment>
      <ReadableLayout>
        <hgroup class="passthrough">
          <h1>Interview</h1>
          <h2 lang={artist.titleLang}>{artist.title}</h2>
          <p>Artist and Conservator</p>
          <p>
            <small>Interviewed and edited by Junghyun Kim</small>
          </p>
        </hgroup>
        <div class="passthrough" lang={artist.interviewContentLang}>
          <Text content={artist.interviewContent} />
        </div>
      </ReadableLayout>
      {artist.interviewRecirc && (
        <Recirculation recirc={artist?.interviewRecirc} />
      )}
    </RootLayout>
  )
}
